@font-face {
    font-family: "Gotham";
    font-weight: 400;
    src: url("/assets/Gotham-Light.otf");
}

@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url("/assets/Gotham-Bold.otf");
}

*, :after, :before {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

:root {
    --gap: 24px;
    --gap-quarter: calc(var(--gap) / 4);
    --gap-half: calc(var(--gap) / 2);
    --gap-double: calc(var(--gap) * 2);
}

a, article, b, body, button, div, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, input, li, ol, p, section, select, span, strong, textarea, u, ul {
    background: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    background-color: #fff;
    font-family: "Gotham";
    height: 100vh;
    overflow: hidden;

    width: 800px;
    height: 480px;
}

.fillScreenOpen .gradient,
.ejdScreenOpen .gradient {
    position: fixed;
    top: calc(var(--gap) * -1);
    left: calc(var(--gap) * -1);
    right: calc(var(--gap) * -1);
    bottom: calc(var(--gap) * -1);
    z-index: 99;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(5px);
}

input {
    appearance: none;
    border-radius: 6px;

    background-color: #eee;
    overflow: hidden;

    &::-webkit-slider-thumb {
        appearance: none;
        background-color: #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        width: 18px;
        height: 120px;
        box-shadow: -100vw 0 0 100vw var(--color, dodgerblue);
    }
}

.fullScreen {
    font-size: 22px;
    margin: var(--gap);
}



.waterInput {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 365px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .water-range {
        position: absolute;
        top: 64px;
        left: 50%;
        transform: translateX(-50%);

        appearance: none;
        border-radius: 6px;

        width: 120px;
        height: 250px;

        input {
            position: absolute;
            top: 0;

            transform: rotate(270deg);
            width: 250px;
            height: 120px;
            border-radius: 6px;
            overflow: hidden;
        }
        
        &:nth-child(1) {
            left: -80px;
        }

        &:nth-child(2) {
            left: unset;
            right: -80px;
        }

        p {
            position: absolute;
            bottom: -30px;
        }
    }
}

.waterDrag {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .up {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(-45deg);
            border-top: 2px solid #eee;
            border-right: 2px solid #eee;
            width: 18px;
            height: 18px;
        }

        &::before {
            bottom: 0;
            height: 40%;
        }
    }

    .down {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) rotate(-45deg);
            border-bottom: 2px solid #eee;
            border-left: 2px solid #eee;
            width: 18px;
            height: 18px;
        }

        &::before {
            top: 0;
            height: 40%;
        }
    }
}

.waterDrag .down::before,
.waterDrag .up::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #eee;
}

.waterLevel {
    position: absolute;
    bottom: var(--gap);
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    span {
        display: block;
        font-weight: normal;
        font-size: 18px;
    }
}

.logo {
    z-index: 100;;
    font-size: 32px;
    position: absolute;
    top: var(--gap);
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.fillScreenOpen .logo,
.ejdScreenOpen .logo {
    color: #fff;
}


.left {
    position: absolute;
    top: 50%;
    left: var(--gap);
    transform: translateY(-50%);
    font-size: 28px;

    display: flex;
    flex-direction: column;

    h4 {
        font-size: 24px;
        font-weight: normal;
    }

    h2 {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 6px;
        font-style: italic;

        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 110%;
            border-radius: 50px;
            height: 3px;
            background-color: dodgerblue;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 110%;
            border-top: 3px solid dodgerblue;
            border-right: 3px solid dodgerblue;
            width: 14px;
            height: 14px;
            transform: rotate(45deg);
        }
    }
}


.right {
    position: absolute;
    top: 50%;
    right: var(--gap-double);
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;

    button {
        background-color: dodgerblue;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        padding: 8px 14px;
        border-radius: 6px;

        &:disabled {
            background-color: #7fbfff;
        }
    }
}


.arrows {
    position: absolute;
    top: -36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
        display: inline-block;
        border-top: 3px solid #ddd;
        border-right: 3px solid #ddd;
        width: 24px;
        height: 24px;
        transform: translateY(-20px) rotate(135deg);
        margin: 0 8px;

        animation: arrow 2s infinite ease;
    }
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(-20px) rotate(135deg);
    }

    50% {
        opacity: 1;
        transform: translateY(0) rotate(135deg);
    }

    100% {
        opacity: 0;
        transform: translateY(0) rotate(135deg);
    }
}

.bubbles {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



select {
    background-color: #f3f3f3;
    position: absolute;
    font-weight: bold;
    left: 18px;
    bottom: 18px;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}



.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 38px;
}
