.bubble {
    position: absolute;
    top: 100%;
    left: 25%;
    background-color: #e9f5ff;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);

    &::before {
        content: "";

        position: absolute;
        top: 15%;
        right: 20%;
        width: 15%;
        height: 30%;
        background-color: #fff;
        border-radius: 50px;
        transform: rotate(-20deg);
    }

    &.bubbleAnimation {
        animation: bubble var(--speed) linear var(--delay),
                    bubbleWiggle 5s infinite ease var(--delay);
    }
}


@keyframes bubble {
    from {
        top: 100%
    }

    to {
        top: calc(-1 * var(--size));
    }
}

@keyframes bubbleWiggle {
    0%, 100% {
        transform: translateX(-12px);
    }

    50% {
        transform: translateX(12px);
    }
}
